.grid-container {
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 170px 140px 170px 180px ;
    grid-template-areas:    "cpu-health cpu-pokemon"
                            "user-pokemon cpu-pokemon"
                            "user-pokemon user-health"
                            "textbar attack-selection";
    
}

.cpu-pokemon {
    grid-area: cpu-pokemon;
    background-color: aqua;
}

.cpu-health {
    grid-area: cpu-health;
    background-color: beige;
}

.user-health {
    grid-area: user-health;
    background-color: blueviolet;
}

.user-pokemon {
    grid-area: user-pokemon;
    background-color: hotpink;
}

.textbar {
    grid-area: textbar;
    background-color: red;
}

.attack-selection {
    grid-area: attack-selection;
    background-color: teal;
}