/* MAIN GRID */
.grid-container {
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 170px 140px 170px 180px ;
    grid-template-areas:    "cpu-health cpu-pokemon"
                            "user-pokemon cpu-pokemon"
                            "user-pokemon user-health"
                            "textbar attack-selection";
    
}

.cpu-pokemon {
    grid-area: cpu-pokemon;
    background-color: aqua;
}

.cpu-health {
    grid-area: cpu-health;
    background-color: beige;
}

.user-health {
    grid-area: user-health;
    background-color: blueviolet;
}

.user-pokemon {
    grid-area: user-pokemon;
    background-color: hotpink;
}

.textbar {
    grid-area: textbar;
    background-color: red;
}

.attack-selection {
    grid-area: attack-selection;
    background-color: teal;
}

/* NESTED GRID */
.battlebar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:    "one two"
                            "three four";
    position: relative;
}

#attack-one {
    grid-area: one;
    position: absolute;
    bottom: 8px;
    left: 16px;
}

#attack-two {
    grid-area: two;
    position: absolute;
    bottom: 8px;
    right: 16px;
}

#attack-three {
    grid-area: three;
    position: absolute;
    top: 8px;
    left: 16px;
}

#attack-four {
    grid-area: four;
    position: absolute;
    top: 8px;
    right: 16px;
}

/* --------------------------------------- */

#cpu-pokemon {
    height: 300px;
    
}

#user-pokemon {
    height: 300px;
}

#textbar {
    width: 100%;
    height: 100%;
}

#battlebar-border {
    width: 100%;
    height: 100%;
    
}

.button {
    /* position: relative; */
    border: none;
    text-align: center;
    text-decoration: none;
    background-color: gray;
}
